<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallary</title>
    <link rel="stylesheet" href="gallary.css">
</head>
<body>
    <nav>
        <h1>❀ Our Food Gallary ❀</h1>

    </nav>
    

<div class="menu" id="Menu">
   
    <div class="menu_box">
    <div class="menu_card">

        <div class="menu image">
            <img class="imgg" src="https://i.pinimg.com/564x/9b/86/2e/9b862e3a7167e9759d006b2ac55a1eb3.jpg">
        </div>

        <div class="menu_info">
            <h2>Rozzia</h2>
            <p>
                Welcome to Rozzia, where every meal is a celebration of flavor and tradition! Our carefully curated menu features a delightful array of dishes crafted with the freshest ingredients, each designed to tantalize
            </p>
            <button class="menu_btn">Book Now</a></button>
            
        </div>


    </div>
    <div class="menu_card">

        <div class="menu image">
            <img class="imgg" src="https://i.pinimg.com/474x/e6/59/2f/e6592f02bc845a0558cfb957c8a4f1f7.jpg">
        </div>

        <div class="small_card">
            <i class="fa-solid fa-heart"></i>
        </div>

        <div class="menu_info">
            <h2>Rustic Table</h2>
            <p>
                Welcome to The Rustic Table, a place where farm-fresh ingredients meet comforting recipes. Our dishes celebrate the beauty of simplicity, served in a warm and inviting setting. .
            </p>
            <button class="menu_btn">Book Now</a></button>
            
           
        </div>


    </div>
    <div class="menu_card">

        <div class="menu image">
            <img class="imgg" src="https://i.pinimg.com/736x/14/4c/8d/144c8daee9ecc43bb852c8ca3c72fdeb.jpg">
        </div>

        <div class="small_card">
            <i class="fa-solid fa-heart"></i>
        </div>

        <div class="menu_info">
            <h2>Bistro</h2>
            <p>
                At Bistro, we pride ourselves on serving wholesome, delicious meals made from organic and locally sourced ingredients. Our menu changes with the seasons, 
            </p>
            <button class="menu_btn">Book Now</a></button>
            
            
        </div>


    </div>
    <div class="menu_card">

        <div class="menu image">
            <img class="imgg" src="https://i.pinimg.com/736x/10/8a/77/108a7757949fe1986263a9f25f48daa2.jpg  ">
        </div>

        <div class="small_card">
            <i class="fa-solid fa-heart"></i>
        </div>

        <div class="menu_info">
            <h2>Crave</h2>
            <p>
                Dive into Crave, where the freshest seafood meets coastal-inspired dishes. Our culinary team specializes in bringing the ocean's flavors to your plate, from succulent shrimp to grilled fish.
            </p>
            <button class="menu_btn">Book Now</a></button>
            
        </div>


    </div>
    <div class="menu_card">

        <div class="menu image">
            <img class="imgg" src="https://i.pinimg.com/736x/9a/fc/f4/9afcf4e958990bd0ec1b2db7d1bbebd0.jpg">
        </div>

        <div class="small_card">
            <i class="fa-solid fa-heart"></i>
        </div>

        <div class="menu_info">
            <h2>Fusion</h2>
            <p>
                Welcome to Fusion, where culinary traditions collide to create innovative dishes that surprise and delight. Our chefs expertly combine flavors from around the world, 
            </p>
            <button class="menu_btn">Book Now</a></button>
            
        </div>


    </div>
    <div class="menu_card">

        <div class="menu image">
            <img class="imgg" src="https://i.pinimg.com/736x/9d/0f/23/9d0f2364f26fc771a757a1a8dd14ed44.jpg">
        </div>

        <div class="small_card">
            <i class="fa-solid fa-heart"></i>
        </div>

        <div class="menu_info">
            <h2>Essence</h2>
            <p>
                Essence is where the heart of flavor meets simplicity. Our menu focuses on highlighting the natural flavors of high-quality ingredients.enjoy our cusions here
            </p>
            <button class="menu_btn">Book Now</a></button>
            
        </div>


    </div>
    <div class="menu_card">

        <div class="menu image">
            <img class="imgg" src="https://i.pinimg.com/564x/c8/13/50/c81350bda20afa5ebb58ed77e19706b3.jpg">
        </div>

        <div class="small_card">
            <i class="fa-solid fa-heart"></i>
        </div>

        <div class="menu_info">
            <h2>Vista</h2>
            <p>
                At Vista, enjoy stunning views paired with a menu that showcases the best of seasonal ingredients. Our dishes are inspired by local flavors, offering a fresh perspective on classic cuisine
            </p>
            <button class="menu_btn">Book Now</a></button>
            
        </div>


    </div>
    <div class="menu_card">

        <div class="menu image">
            <img class="imgg" src="https://i.pinimg.com/564x/62/2b/37/622b37480b2023cafa87f3a561a10a39.jpg">
        </div>

        <div class="small_card">
            <i class="fa-solid fa-heart"></i>
        </div>

        <div class="menu_info">
            <h2>Mingle</h2>
            <p>
                Welcome to Mingle, a vibrant space designed for social dining. Our shareable plates and lively atmosphere encourage you to connect with friends over delicious food.
            </p>
            <button class="menu_btn">Book Now</a></button>
            
        </div>


    </div>
    

    </div>
    
</div>
</div>

</body>
</html>